@import '../../colors.scss';

.bold {
  font-weight: 700;
  font-size: 14px;
}

.icon {
  font-size: 12pt;
  position: relative;
  top: 2px;
}

.sort-icon-selected {
  transition: .3s;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(46, 46, 46);
  margin-left: .3rem;
  &:hover {
    font-size: 1.2rem;
  }
}

.sort-icon {
  transition: .3s;
  cursor: pointer;
  font-size: 1rem;
  color: lightgray;
  margin-left: .3rem;
  &:hover {
    font-size: 1.2rem;
  }
}

.table-wrapper-loading {
  overflow:hidden;
  height: 100%;
}

.table-wrapper {

  th.mat-header-cell:first-of-type {
    padding-left: 12px !important;
  }

  position: relative;

  .loading-bar {
    position: absolute;
    top: 125px;
    width: 100%;
  }

  .no-items-to-show {
    padding: 1em;
  }

  .material-table {
    width: 100%;
    table-layout: fixed;

    .comparison-container {
      position: relative;

      .comparison {
        position: absolute;
        height: 245px;
        background-color: white;
        top: 0;
        left: 0;
        right: 0;
        border: 1px solid lightgray;
        z-index: 99;
        box-shadow: 0px 0px 4px -2px black;
        padding: 14px;
        width: 245px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        .radio-buttons {
          display: flex;
        }
  
        .comparison-input {
          border: 2px solid lightgray;
          width: 207px;
          margin-bottom: 10px;
          margin-top: 7px;
          padding: 8px 5px;
          border-radius: 4px;
          &:hover {
            border: 2px solid var($dark);
          }
        }
  
        .negative-margin {
          margin-top: -5px;
        }
  
        .comparison-buttons {
          display: flex;
          justify-content: space-between;
          margin: 0 30px;
        }
      }
    }

    ::ng-deep .mat-select-arrow {
      color: white;
    }

    .mat-form-field {
      width: 219px !important;

      .clear-icon {
        cursor: pointer;
      }
    }

    td {
      word-break: break-all;
      padding: .4rem 1rem .4rem 1rem;
    }
    .td-ProjectTitle {
      color: var($primary-text);
    }
    tr {
      &:nth-child(even) {
        background-color: whitesmoke;
      }
    }

    .clickable-row {
      cursor: pointer;
    }
  }

  ::ng-deep .resizer {
    cursor: col-resize;
    float: right;
    margin-right: 10px;
    height: 40px;
    user-select: none;
    z-index: 10;
    background-clip: content-box;
    padding: 0 5px;
    width: 2px;
    background-color: rgba(0, 0, 0, .42);
    position: relative;
    top: 4px;
  }
  
  ::ng-deep .mat-form-field-suffix {
    display: flex;
  }
  
  ::ng-deep .mat-radio-label-content {
    display: flex !important;
    flex-direction: column;
    height: 50px;
  }
  
  .fixed-column {
    ::ng-deep .resizer {
      display: none;
    }
  }
}