
$dark: #5f5f5f;
$off-white: #f8f8f8;
$dark-gray: #636363;
$light-gray: #9f9f9f;
$light-background: #f7f7f7;
$light-line: #dbdbdb;
$primary-text: #2A80BA;
$green: #156419;
$red: #C4272E;
$yellow: #edc677;

$focus-blue: #c3e0ff;

$light-blue: #016C9D;
